<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>

    <main id="game">
      <section>
        <article id="player" class="container">
          <figure>
            <img id="hero" src="./assets/corey-smith-idle.gif" alt="">
          </figure>
          <h2>Hero</h2>
          <div class="healthbar">
            <div class="healthbar__value" :style="playerBarStyle"></div>
          </div>
        </article>
        
        <article id="monster" class="container">
          <figure>
            <img id="hero" src="./assets/dog.gif" alt="">
          </figure>
          <h2>Monster</h2>
          <div class="healthbar">
            <div class="healthbar__value" :style="monsterBarStyle"></div>
          </div>
        </article>
      </section>

      <article class="container-add" v-if="winner">
        <h2>Result</h2>
        <h3 v-if="winner === 'lost'">You died!</h3>
        <h3 v-if="winner === 'draw'">Draw!</h3>
        <h3 v-if="winner === 'win'">You win!</h3>
        <button @click="newGame()">New Game</button>
      </article>

      <article id="controls" v-if="showControls">
        <button @click="attackMonster()">ATTACK</button>
        <button @click="specialAttack()" :disabled="specialAttackActivate">
          SPECIAL ATTACK
        </button>
        <button @click="healPlayer()" :disabled="healActive">
          HEAL ({{itemsHeal}})
        </button>
        <button @click="surrender()">SURRENDER</button>
      </article>

      <article id="log" class="container-add">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logMessage">
            <span
              :class="{'log--player': log.actionBy === 'Player', 'log--monster': log.actionBy === 'Monster'}"
              >{{log.actionBy === 'Player' ? 'Player' : 'Monster'}}</span
            >

            <span v-if="log.actionType==='heal'">
              heals himself for
              <span class="log--heal">{{log.actionValue}}</span> HP
            </span>

            <span v-else>
              attacks and deals
              <span class="log--damage">{{log.actionValue}}</span> HP
            </span>
          </li>
        </ul>
      </article>
    </main>
  </body>
</html>
